.clock-pulses {
  position: relative;
  height: 42px;
  width: 50px;
  left: 0px;
  background-color: #efefef;  
}


.cpu {
  &__heading {
    text-align: center;
    h2 {
      margin-top: 0px;
    }
  }

  &__main-content {
    width: calc(70em);
    .clock {
      display: flex;

      &__tics {
        border-left: 2px solid;
        top: -8px;
        position: relative;
        height: 60px;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 99;
        cursor: grab;
      }

      &__pulses {
        border-top: 2px solid #ff000085;
        border-bottom: 2px solid #ff000085;
        height: 40px;
        display: flex;

        div:nth-child(n) {
          @extend .clock-pulses;
          top: -2px;
          border-right: 2px solid #ff000085;
        }

        div:nth-child(2n) {
          @extend .clock-pulses;
          top: 0px;
        }
      }

      &__analog {
        display: none;
      }
    }

    .start {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;

      span {
        margin-right: 10px;
      }

      .play-button {
        cursor: pointer;
        
      }
    }
  }

  @media only screen and (max-width: 600px) {
    max-width: 100%;
    &__main-content {
      width: 90%;
      text-align: center;
      margin-left: 6%;

      .clock {        
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__tics {
          display: none;
        }

        &__pulses {
          display: none;
        }

        &__analog {
          display: inherit;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    max-width: 90%;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1400px) {
  }
}