.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-pulses {
  position: relative;
  height: 42px;
  width: 50px;
  left: 0px;
  background-color: #efefef;  
}


.cpu {
  &__heading {
    text-align: center;
    h2 {
      margin-top: 0px;
    }
  }

  &__main-content {
    width: calc(70em);

    .start {
      @extend .display-flex-center;
      padding: 5px;

      span {
        margin-right: 10px;
      }

      .play-button {
        cursor: pointer;
        width: 2em;
        height: 2em; 
        
      }
    }

    .clock {
      display: flex;

      &__tics {
        border-left: 2px solid;
        top: -8px;
        position: relative;
        height: 60px;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 99;
        cursor: grab;
      }

      &__pulses {
        border-top: 2px solid #ff000085;
        border-bottom: 2px solid #ff000085;
        height: 40px;
        display: flex;

        div:nth-child(n) {
          @extend .clock-pulses;
          top: -2px;
          border-right: 2px solid #ff000085;
        }

        div:nth-child(2n) {
          @extend .clock-pulses;
          top: 0px;
        }
      }

      &__analog {
        display: none;
      }
    }

    .select-cpu-processing {
      @extend .display-flex-center;
      padding: 5px;

      div {
        flex-direction: row;

        label {
          margin-left: 50px;

          span {
            span {
              color: #ff000085;
            }
          }
        }
      }
    }

    .numbers {
      @extend .display-flex-center;
      span {
        margin: 0px 24px;
        font-size: 2em;
      }
    }

    .characters {
      @extend .display-flex-center;
    }


    .output-from-cpu {
      @extend .display-flex-center;
      span {
        font-size: 3em;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    max-width: 100%;
    &__heading {
      text-align: center;
      h2 {
        margin-top: 0px;
        font-size: 2em;
      }
    }
    &__main-content {
      width: 90%;
      text-align: center;
      margin-left: 5%;
      font-size: 1.1em;
      font-weight: 600;

      .clock {        
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__tics {
          display: none;
        }

        &__pulses {
          display: none;
        }

        &__analog {
          display: inherit;
        }
      }

      .select-cpu-processing {
        padding: 0px; 
        div {
          label {
            margin: 0px;
          }
        }
      }
    }

    .start {
      span {
        margin-right: 10px;
      }

      .play-button {
        width: 4em;
        height: 4em; 
        touch-action: manipulation;      
      }
    }
  }

  @media only screen and (max-width: 768px) {
    max-width: 90%;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1400px) {
  }
}